{% extends "admin/news_category/layout.html" %}
{% block content %}
<div class="row">
    <div class="small-12 columns">
        <table>
        <h2 class="text-center subheader">News_category detail</h2>
         
          <tr>
            <th>Properties</th>
            <th>Description</th>
        </tr>

        <tr>
            <td>Id</td>
            <td>{{news_category.id}}</td>
        </tr>
        <tr>
            <td >Name</td>
            <td>{{news_category.name}}</td>
        </tr>
        <tr>
            <td >Image</td>
            <td>
            {%if news_category.image_original_url | length > 0%}
                <a class="th" role="button" aria-label="Thumbnail" href="{{news_category.image_original_url}}">
                  <img aria-hidden=true src="{{news_category.image_url}}"/>
                </a>
            {%endif%}
            </td>
        </tr>
        <tr style="border-top:solid 1px #ddd;">
            <td colspan="2">
                <ul class="button-group" style="display:table;margin:0 auto;">
                <li> <a href="{{ url_for('admin.news_category.add') }}" class="button tiny success" style="margin-bottom:0px;"><i class="fa fa-plus"></i> Add </a></li>
                  <li><a href="{{ url_for('admin.news_category.edit', news_category_id=news_category.id) }}" class="button tiny" style="margin-bottom:0px;"><i class="fa fa-edit"></i> Edit</a></li>
                  <li><a href="javascript:post('{{ url_for('admin.news_category.delete', news_category_id=news_category.id) }}',null,'{{url_for('admin.news_category.index')}}')" class="button tiny alert" style="margin-bottom:0px;"><i class="fa fa-trash"></i> Delete</a></li>
              </ul>
          </td>
        </tr>
    </table>
</div>
</div>
{% endblock %}
