{% macro form(url, data='', show_form=1) -%}
<form action="{{ url }}" method="post">
	<fieldset>
		
		<legend>{% if show_form == 1 %}Create a category of News:{%else%}Update a category of News:{% endif %}</legend>
		<div class="row collapse">
			<div class="medium-2 columns">
				<span class="prefix">Name:</span>	
			</div>
			<div class="medium-10 columns">
				<input type="text" placeholder="Enter your category of News name here" name="name" value="{{ data.name }}" required/>
			</div>
		</div>
		<div class="row collapse">
            <div class="medium-8 columns">
                <span>Image:</span>   
                <input type="file" data-field-name="image" data-preview-element="image-preview" onchange="upload(this)" />
                <input type="hidden" placeholder="Paste your image link here" name="image" value="{{ data.image }}" />
            </div>
            
            <div class="medium-4 columns clearfix">

                <img id="image-preview" class="inline right" src="{{data.image_url}}"/>
            </div>
        </div>
		
		<div class="row collapse">
			<div class="medium-3 columns">
				<input type="submit" value="{% if show_form==1:%} Create {%else %} Update {%endif%}" class="button tiny success">
			</div>
		</div>
	</fieldset>
</form>
{% endmacro -%}
