{% extends "admin/common/layout.html" %}
{% block content %}
<div class="row-fluid">
	<div class="large-4 columns">
		<div class="row collapse">
			<div class="small-9 columns">
				<input type="text" placeholder="Enter search...">
			</div>
			<div class="small-3 columns">
				<span class="postfix">Search</span>
			</div>
		</div>
	</div>
	<div class="large-8 columns">
		<div class="row collapse">
			<div class="small-3 columns">
				<select>
			        <option value="husker">Husker</option>
			        <option value="starbuck">Starbuck</option>
			        <option value="hotdog">Hot Dog</option>
			        <option value="apollo">Apollo</option>
		      	</select>
      		</div>
      	</div>
	</div>
</div>
<table>
	<thead>
		<tr>
			<th width="24" class="has-form"><input type="checkbox"></th>
			<th width="200">Product ID</th>
			<th>Description</th>
			<th width="150">Quantity</th>
			<th width="150">Price</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="has-form"><input type="checkbox"></td>
			<td>123321</td>
			<td>Porta gravida at eget metus.</td>
			<td>100</td>
			<td>15.000 VND</td>
		</tr>
		<tr>
			<td class="has-form"><input type="checkbox"></td>
			<td>32121</td>
			<td>Donec id elit non mi porta gravida at eget metus.</td>
			<td>10</td>
			<td>15.000 VND</td>
		</tr>
		<tr>
			<td class="has-form"><input type="checkbox"></td>
			<td>123321</td>
			<td>Lit non mi porta gravida at eget metus.</td>
			<td>98</td>
			<td>15.000 VND</td>
		</tr>
		<tr>
			<td class="has-form"><input type="checkbox"></td>
			<td>12321</td>
			<td>This is longer content Donec id elit non mi porta</td>
			<td>130</td>
			<td>15.000 VND</td>
		</tr>
	</tbody>
</table>

{% endblock %}
