{% extends "admin/product/layout.html" %}
{% block content %}
    {% from "admin/product/form.html" import form %}

    {% set data={
    'categories':categories,'name':product.name,'sku':product.sku,'price':product.price,'selling_price':product.selling_price,'discount':product.discount,'category':product.category.id,'brand':product.brand.id,'image':product.image,'image_url':product.image_url,'image_original_url':product.image_original_url,'brands':brands
    } 
    %}

    {{ form(url_for('admin.product.update', product_id=product.id), data, show_form=2) }}
{% endblock %}