{% extends "admin/question/layout.html" %}
{% block content %}
<div class="row">
    <div class="small-12 columns">
        <table>
        <h2 class="text-center subheader">question detail</h2>
         
          <tr>
            <th>Properties</th>
            <th>Description</th>
        </tr>

        <tr>
            <td>User</td>
            <td>{{question.user.username}}</td>
        </tr>
        <tr>
            <td >Show in index page</td>
            <td>{{question.show_in_index}}</td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="border:1px solid green;background-color:#fff;padding:10px;">
                    {{question.content|safe}}
                </div>
            </td>
            
        </tr>
        <tr style="border-top:solid 1px #ddd;">
            <td colspan="2">
                <ul class="button-group" style="display:table;margin:0 auto;">
                <li> <a href="{{ url_for('admin.question.add') }}" class="button tiny success" style="margin-bottom:0px;"><i class="fa fa-plus"></i> Add </a></li>
                  <li><a href="{{ url_for('admin.question.edit', question_id=question.id) }}" class="button tiny" style="margin-bottom:0px;"><i class="fa fa-edit"></i> Edit</a></li>
                  <li><a href="javascript:post('{{ url_for('admin.question.delete', question_id=question.id) }}',null,'{{url_for('admin.question.index')}}')" class="button tiny alert" style="margin-bottom:0px;"><i class="fa fa-trash"></i> Delete</a></li>
              </ul>
          </td>
        </tr>
    </table>
</div>
</div>
{% endblock %}
