<div id="giaohang">
    <div class="row">
        <dir class="large-12-medium-12 small-12 columns">
        <p style="text-align:center"><strong>QUY ĐỊNH VỀ VIỆC GIAO H&Agrave;NG CỦA X-Fone.vn</strong></p>
        <div class="large-12 medium-12 small-12 columns" style="box-sizing: border-box; margin: 0px; padding: 0px 0.9375rem; width: 968px; float: left; position: relative; min-width: 0px; color: rgb(0, 0, 0); font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; font-size: 16px; line-height: 24px;">
            <p style="text-align:justify"><span style="color:rgb(219, 35, 134)"><strong>1. Phạm vi giao h&agrave;ng</strong></span></p>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify">- X-fone.vn giao h&agrave;ng tr&ecirc;n to&agrave;n quốc</p>
            <p style="text-align:justify">- Tại TP HCM,&nbsp;X-fone.vn c&oacute; đội ngũ giao h&agrave;ng: linh động sắp xếp lịch giao h&agrave;ng cho kh&aacute;ch h&agrave;ng.</p>
            <p style="text-align:justify">-&nbsp;X-fone.vn hợp t&aacute;c với những đơn vị vận chuyển đ&aacute;ng tin cậy để giao h&agrave;ng trực tiếp đến nh&agrave; kh&aacute;ch h&agrave;ng cho c&aacute;c khu vực c&ograve;n lại.</p>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify"><span style="color:rgb(219, 35, 134)"><strong>2. Biểu ph&iacute; giao h&agrave;ng:</strong></span></p>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify"><strong>+ Giao h&agrave;ng tại TP HCM</strong></p>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify">- X-fone.vn miễn ph&iacute; giao h&agrave;ng tại c&aacute;c khu vực c&oacute; mạng lưới si&ecirc;u thị x-fone.vn phủ s&oacute;ng đối với đơn h&agrave;ng tr&ecirc;n 199.000 đồng.&nbsp;</p>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify">- Đối với c&aacute;c khu vực kh&aacute;c, biểu ph&iacute; được t&iacute;nh như sau:</p>
            <p style="text-align:justify">&nbsp;</p>
            <table border="1" cellpadding="0" cellspacing="0" class="vien_all" style="background-attachment:initial; background-clip:initial; background-image:initial; background-origin:initial; background-position:initial; background-repeat:initial; background-size:initial; border-collapse:collapse; border-color:rgb(221, 221, 221) rgb(221, 221, 221) rgb(252, 226, 236) rgb(252, 226, 236); border-spacing:0px; border-style:solid; border-width:0px 0px 1px 1px; box-sizing:border-box; color:rgb(51, 51, 51); float:left; font-family:arial,open sans,helveticaneue,helvetica neue,helvetica,arial,sans-serif; font-size:13px; line-height:18px; margin:10px 0px; padding:0px; table-layout:auto; text-align:justify">
                <caption>&nbsp;</caption>
                <tbody>
                    <tr>
                        <td style="text-align:left">
                            <p style="text-align:center"><strong>Gi&aacute; trị đơn h&agrave;ng</strong></p>
                        </td>
                        <td style="text-align:left">
                            <p style="text-align:center"><strong>Cước ph&iacute; vận chuyển</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            <p>Đơn h&agrave;ng từ 399.000 VNĐ</p>
                        </td>
                        <td style="text-align:left">
                            <p>Miễn ph&iacute; vận chuyển</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            <p>Đơn h&agrave;ng dưới 399.000 VNĐ</p>
                        </td>
                        <td style="text-align:left">
                            <p>30.000 VNĐ</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify"><strong>+ Giao h&agrave;ng tỉnh</strong></p>
            <p style="text-align:justify">&nbsp;</p>
            <table border="1" cellpadding="0" cellspacing="0" class="vien_all" style="background-attachment:initial; background-clip:initial; background-image:initial; background-origin:initial; background-position:initial; background-repeat:initial; background-size:initial; border-collapse:collapse; border-color:rgb(221, 221, 221) rgb(221, 221, 221) rgb(252, 226, 236) rgb(252, 226, 236); border-spacing:0px; border-style:solid; border-width:0px 0px 1px 1px; box-sizing:border-box; color:rgb(51, 51, 51); float:left; font-family:arial,open sans,helveticaneue,helvetica neue,helvetica,arial,sans-serif; font-size:12px; line-height:28px; margin:10px 0px; padding:0px; table-layout:auto; text-align:justify">
                <tbody>
                    <tr>
                        <td style="text-align:left">
                            <p style="text-align:center"><strong>Gi&aacute; trị đơn h&agrave;ng</strong></p>
                        </td>
                        <td style="text-align:left">
                            <p style="text-align:center"><strong>Cước ph&iacute; vận chuyển</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            <p>Đơn h&agrave;ng từ 199.000 VNĐ</p>
                        </td>
                        <td style="text-align:left">
                            <p>Miễn ph&iacute; vận chuyển</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            <p>Đơn h&agrave;ng dưới 199.000 VNĐ</p>
                        </td>
                        <td style="text-align:left">
                            <p>30.000 VNĐ</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify"><span style="color:rgb(219, 35, 134)"><strong>3. Quy tr&igrave;nh giao nhận h&agrave;ng</strong></span></p>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify"><img alt="" src="http://cdn.concung.com/img/themes1.0/main/thanhtoan.jpg" style="border:0px; box-sizing:border-box; display:block; height:auto; margin:0px auto; max-width:100%; padding:0px; vertical-align:middle; width:650px" /></p>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify">Khi nhận h&agrave;ng, Kh&aacute;ch h&agrave;ng cần lưu &yacute; thực hiện:</p>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify">- Mở g&oacute;i h&agrave;ng v&agrave; đối chiếu h&agrave;ng h&oacute;a với Phiếu giao h&agrave;ng.</p>
            <p style="text-align:justify">- Cầm sản phẩm kiểm tra xem c&oacute; đ&uacute;ng sản phẩm m&agrave; Kh&aacute;ch h&agrave;ng đ&atilde; đặt mua hay kh&ocirc;ng.</p>
            <p style="text-align:justify">- Kiểm tra bao b&igrave; v&agrave; sản phẩm c&oacute; bị hư hại do qu&aacute; tr&igrave;nh vận chuyển hay kh&ocirc;ng.</p>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify">Nếu kh&ocirc;ng h&agrave;i l&ograve;ng với 1 trong 3 điều tr&ecirc;n, Kh&aacute;ch h&agrave;ng c&oacute; thể y&ecirc;u cầu Nh&acirc;n vi&ecirc;n giao h&agrave;ng x&aacute;c nhận v&agrave; trả lại h&agrave;ng.</p>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify">Concung.com sẽ kh&ocirc;ng chịu tr&aacute;ch nhiệm giải quyết khiếu nại của Kh&aacute;ch h&agrave;ng sau khi Kh&aacute;ch h&agrave;ng đ&atilde; k&yacute; nhận v&agrave; thanh to&aacute;n.</p>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify">Kh&aacute;ch h&agrave;ng nếu chọn h&igrave;nh thức &quot;Thanh to&aacute;n trực tiếp khi nhận h&agrave;ng&quot; th&igrave; c&oacute; thể thanh to&aacute;n trực tiếp cho nh&acirc;n vi&ecirc;n giao h&agrave;ng ngay sau khi nhận h&agrave;ng.</p>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify"><span style="color:rgb(219, 35, 134)"><strong>4.Thời gian giao nhận h&agrave;ng</strong></span></p>
            <p style="text-align:justify">&nbsp;</p>
            <p style="text-align:justify">- Đối với đơn h&agrave;ng trong nội th&agrave;nh phố HCM: giao h&agrave;ng trong v&ograve;ng 24 giờ</p>
            <p style="text-align:justify">- Đối với đơn h&agrave;ng ngoại tỉnh: giao h&agrave;ng từ 2 đến 7 ng&agrave;y t&ugrave;y thuộc v&agrave;o thời gian chuyển h&agrave;ng v&agrave; phương thức chuyển h&agrave;ng nhanh hay chậm.</p>
        </div>
        <br>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
</div>