<div id="giaohang" class="reveal-modal" data-reveal>
        <div class="row">
            <dir class="large-12-medium-12 small-12 columns">
            <p style="color:red; font-size:25px; text-align:center;"><b>QUY ĐỊNH VỀ VIỆC GIAO HÀNG CỦA X-fone.vn</b></p>
            </dir>
            <div class="large-12 medium-12 small-12 columns">
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                <span style="margin: 0px; padding: 0px; color: rgb(219, 35, 134);"><strong style="margin: 0px; padding: 0px;">1. Phạm vi giao h&agrave;ng</strong></span></p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                - X-fone.vn giao h&agrave;ng tr&ecirc;n to&agrave;n quốc</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                - Tại TP HCM,&nbsp;X-fone.vn c&oacute; đội ngũ giao h&agrave;ng: linh động sắp xếp lịch giao h&agrave;ng cho kh&aacute;ch h&agrave;ng.</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                -&nbsp;X-fone.vn hợp t&aacute;c với những đơn vị vận chuyển đ&aacute;ng tin cậy để giao h&agrave;ng trực tiếp đến nh&agrave; kh&aacute;ch h&agrave;ng cho c&aacute;c khu vực c&ograve;n lại.</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                <span style="margin: 0px; padding: 0px; color: rgb(219, 35, 134);"><strong style="margin: 0px; padding: 0px;">2. Biểu ph&iacute; giao h&agrave;ng:</strong></span></p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                <strong style="margin: 0px; padding: 0px;">+ Giao h&agrave;ng tại TP HCM</strong></p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                - X-fone.vn miễn ph&iacute; giao h&agrave;ng tại c&aacute;c khu vực c&oacute; mạng lưới si&ecirc;u thị x-fone.vn phủ s&oacute;ng đối với đơn h&agrave;ng tr&ecirc;n 199.000 đồng.&nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                - Đối với c&aacute;c khu vực kh&aacute;c, biểu ph&iacute; được t&iacute;nh như sau:</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <table border="1" cellpadding="0" cellspacing="0" class="vien_all" style="margin: 10px 0px; padding: 0px; border-width: 0px 0px 1px 1px; border-bottom-style: solid; border-left-style: solid; border-bottom-color: rgb(252, 226, 236); border-left-color: rgb(252, 226, 236); float: left; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                    <caption style="margin: 0px; padding: 0px; border: 0px;">
                    &nbsp;</caption>
                    <tbody style="margin: 0px; padding: 0px; border: 0px;">
                        <tr style="margin: 0px; padding: 0px; border: 0px;">
                            <td style="margin: 0px; padding: 2px; border-top-width: 1px; border-right-width: 1px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: none; border-top-color: rgb(252, 226, 236); border-right-color: rgb(252, 226, 236);" valign="top" width="300">
                                <p style="margin: 0px; padding: 0px; border: 0px; clear: both; text-align: center;">
                                <strong style="margin: 0px; padding: 0px; border: 0px;">Gi&aacute; trị đơn h&agrave;ng</strong></p>
                            </td>
                            <td style="margin: 0px; padding: 2px; border-top-width: 1px; border-right-width: 1px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: none; border-top-color: rgb(252, 226, 236); border-right-color: rgb(252, 226, 236);" valign="top" width="300">
                                <p style="margin: 0px; padding: 0px; border: 0px; clear: both; text-align: center;">
                                <strong style="margin: 0px; padding: 0px; border: 0px;">Cước ph&iacute; vận chuyển</strong></p>
                            </td>
                        </tr>
                        <tr style="margin: 0px; padding: 0px; border: 0px;">
                            <td style="margin: 0px; padding: 2px; border-top-width: 1px; border-right-width: 1px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: none; border-top-color: rgb(252, 226, 236); border-right-color: rgb(252, 226, 236);" valign="top" width="300">
                                <p style="margin: 0px; padding: 0px; border: 0px; clear: both;">
                                Đơn h&agrave;ng từ 399.000 VNĐ</p>
                            </td>
                            <td style="margin: 0px; padding: 2px; border-top-width: 1px; border-right-width: 1px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: none; border-top-color: rgb(252, 226, 236); border-right-color: rgb(252, 226, 236);" valign="top" width="300">
                                <p style="margin: 0px; padding: 0px; border: 0px; clear: both;">
                                Miễn ph&iacute; vận chuyển</p>
                            </td>
                        </tr>
                        <tr style="margin: 0px; padding: 0px; border: 0px;">
                            <td style="margin: 0px; padding: 2px; border-top-width: 1px; border-right-width: 1px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: none; border-top-color: rgb(252, 226, 236); border-right-color: rgb(252, 226, 236);" valign="top" width="300">
                                <p style="margin: 0px; padding: 0px; border: 0px; clear: both;">
                                Đơn h&agrave;ng dưới 399.000 VNĐ</p>
                            </td>
                            <td style="margin: 0px; padding: 2px; border-top-width: 1px; border-right-width: 1px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: none; border-top-color: rgb(252, 226, 236); border-right-color: rgb(252, 226, 236);" valign="top" width="300">
                                <p style="margin: 0px; padding: 0px; border: 0px; clear: both;">
                                30.000 VNĐ</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                <strong style="margin: 0px; padding: 0px;">+ Giao h&agrave;ng tỉnh</strong></p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <table border="1" cellpadding="0" cellspacing="0" class="vien_all" style="margin: 10px 0px; padding: 0px; border-width: 0px 0px 1px 1px; border-bottom-style: solid; border-left-style: solid; border-bottom-color: rgb(252, 226, 236); border-left-color: rgb(252, 226, 236); float: left; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 28px; text-align: justify;">
                    <tbody style="margin: 0px; padding: 0px; border: 0px;">
                        <tr style="margin: 0px; padding: 0px; border: 0px;">
                            <td style="margin: 0px; padding: 2px; border-top-width: 1px; border-right-width: 1px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: none; border-top-color: rgb(252, 226, 236); border-right-color: rgb(252, 226, 236);" valign="top" width="300">
                                <p style="margin: 0px; padding: 0px; border: 0px; clear: both; text-align: center;">
                                <strong style="margin: 0px; padding: 0px; border: 0px;">Gi&aacute; trị đơn h&agrave;ng</strong></p>
                            </td>
                            <td style="margin: 0px; padding: 2px; border-top-width: 1px; border-right-width: 1px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: none; border-top-color: rgb(252, 226, 236); border-right-color: rgb(252, 226, 236);" valign="top" width="300">
                                <p style="margin: 0px; padding: 0px; border: 0px; clear: both; text-align: center;">
                                <strong style="margin: 0px; padding: 0px; border: 0px;">Cước ph&iacute; vận chuyển</strong></p>
                            </td>
                        </tr>
                        <tr style="margin: 0px; padding: 0px; border: 0px;">
                            <td style="margin: 0px; padding: 2px; border-top-width: 1px; border-right-width: 1px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: none; border-top-color: rgb(252, 226, 236); border-right-color: rgb(252, 226, 236);" valign="top" width="300">
                                <p style="margin: 0px; padding: 0px; border: 0px; clear: both;">
                                Đơn h&agrave;ng từ 199.000 VNĐ</p>
                            </td>
                            <td style="margin: 0px; padding: 2px; border-top-width: 1px; border-right-width: 1px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: none; border-top-color: rgb(252, 226, 236); border-right-color: rgb(252, 226, 236);" valign="top" width="300">
                                <p style="margin: 0px; padding: 0px; border: 0px; clear: both;">
                                Miễn ph&iacute; vận chuyển</p>
                            </td>
                        </tr>
                        <tr style="margin: 0px; padding: 0px; border: 0px;">
                            <td style="margin: 0px; padding: 2px; border-top-width: 1px; border-right-width: 1px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: none; border-top-color: rgb(252, 226, 236); border-right-color: rgb(252, 226, 236);" valign="top" width="300">
                                <p style="margin: 0px; padding: 0px; border: 0px; clear: both;">
                                Đơn h&agrave;ng dưới 199.000 VNĐ</p>
                            </td>
                            <td style="margin: 0px; padding: 2px; border-top-width: 1px; border-right-width: 1px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: none; border-top-color: rgb(252, 226, 236); border-right-color: rgb(252, 226, 236);" valign="top" width="300">
                                <p style="margin: 0px; padding: 0px; border: 0px; clear: both;">
                                30.000 VNĐ</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                <span style="margin: 0px; padding: 0px; color: rgb(219, 35, 134);"><strong style="margin: 0px; padding: 0px;">3. Quy tr&igrave;nh giao nhận h&agrave;ng</strong></span></p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                <img alt="" height="146" pagespeed_url_hash="1858440968" src="http://cdn.concung.com/img/themes1.0/main/thanhtoan.jpg" style="margin: 0px auto; padding: 0px; display: block;" width="650" /></p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                Khi nhận h&agrave;ng, Kh&aacute;ch h&agrave;ng cần lưu &yacute; thực hiện:</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                - Mở g&oacute;i h&agrave;ng v&agrave; đối chiếu h&agrave;ng h&oacute;a với Phiếu giao h&agrave;ng.</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                - Cầm sản phẩm kiểm tra xem c&oacute; đ&uacute;ng sản phẩm m&agrave; Kh&aacute;ch h&agrave;ng đ&atilde; đặt mua hay kh&ocirc;ng.</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                - Kiểm tra bao b&igrave; v&agrave; sản phẩm c&oacute; bị hư hại do qu&aacute; tr&igrave;nh vận chuyển hay kh&ocirc;ng.</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                Nếu kh&ocirc;ng h&agrave;i l&ograve;ng với 1 trong 3 điều tr&ecirc;n, Kh&aacute;ch h&agrave;ng c&oacute; thể y&ecirc;u cầu Nh&acirc;n vi&ecirc;n giao h&agrave;ng x&aacute;c nhận v&agrave; trả lại h&agrave;ng.</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                Concung.com sẽ kh&ocirc;ng chịu tr&aacute;ch nhiệm giải quyết khiếu nại của Kh&aacute;ch h&agrave;ng sau khi Kh&aacute;ch h&agrave;ng đ&atilde; k&yacute; nhận v&agrave; thanh to&aacute;n.</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                Kh&aacute;ch h&agrave;ng nếu chọn h&igrave;nh thức &quot;Thanh to&aacute;n trực tiếp khi nhận h&agrave;ng&quot; th&igrave; c&oacute; thể thanh to&aacute;n trực tiếp cho nh&acirc;n vi&ecirc;n giao h&agrave;ng ngay sau khi nhận h&agrave;ng.</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                <span style="margin: 0px; padding: 0px; color: rgb(219, 35, 134);"><strong style="margin: 0px; padding: 0px;">4.Thời gian giao nhận h&agrave;ng</strong></span></p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                &nbsp;</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                - Đối với đơn h&agrave;ng trong nội th&agrave;nh phố HCM: giao h&agrave;ng trong v&ograve;ng 24 giờ</p>
                <p style="margin: 0px; padding: 0px; clear: both; color: rgb(51, 51, 51); font-family: Arial, 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px; text-align: justify;">
                - Đối với đơn h&agrave;ng ngoại tỉnh: giao h&agrave;ng từ 2 đến 7 ng&agrave;y t&ugrave;y thuộc v&agrave;o thời gian chuyển h&agrave;ng v&agrave; phương thức chuyển h&agrave;ng nhanh hay chậm.</p>
                <br>
                <br>
            </div>
            <div class="row" style="padding-top:15px;">
                <div class="row">
                    <div class="large-3 medium-6 small-12 columns">
                        <a href="#" data-reveal-id="thanhtoan" class="button expand">Thanh Toán</a>
                    </div>
                    <div class="large-3 medium-6 small-12 columns">
                        <a href="#" data-reveal-id="giaohang" class="button expand">Vận Chuyển</a>
                    </div>
                    <div class="large-3 medium-6 small-12 columns">
                        <a href="#" data-reveal-id="baohanh" class="button expand">Bảo Hành</a>
                    </div>
                    <div class="large-3 medium-6 small-12 columns">
                        <a href="#" data-reveal-id="khieunai" class="button expand">Khiếu Nại</a>
                    </div>
                </div>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>