<div id="firstModal" class="reveal-modal" data-reveal>
            <div class="row">
                <div class="lagre-4 medium-4 small-12 columns">
                <h4>Giới Thiệu Công Ty</h4>
                <br>
                <div>
                    <div class="large-12 medium-12 small-12 columns">
                        <span>Giới Thiệu Công Ty</span>
                    </div>
                    <div class="large-12 medium-12 small-12 columns">
                        <span>Liên Hệ - Góp Ý</span>
                    </div>
                    <div class="large-12 medium-12 small-12 columns">
                        <span>Tin Tức - Khuyến Mãi</span>
                    </div>
                    
                </div>
                
            </div>
            <div class="lagre-4 medium-4 small-12 columns">
                <h4>Giới Thiệu Công Ty</h4>
                <br>
                <div>
                    <div class="large-12 medium-12 small-12 columns">
                        <span>Giới Thiệu Công Ty</span>
                    </div>
                    <div class="large-12 medium-12 small-12 columns">
                        <span>Liên Hệ - Góp Ý</span>
                    </div>
                    <div class="large-12 medium-12 small-12 columns">
                        <span>Tin Tức - Khuyến Mãi</span>
                    </div>
                    
                </div>

            </div>
            <div class="lagre-4 medium-4 small-12 columns">
                <h4>Giới Thiệu Công Ty</h4>
                <br>
                <div>
                    <div class="large-12 medium-12 small-12 columns">
                        <span>Giới Thiệu Công Ty</span>
                    </div>
                    <div class="large-12 medium-12 small-12 columns">
                        <span>Liên Hệ - Góp Ý</span>
                    </div>
                    <div class="large-12 medium-12 small-12 columns">
                        <span>Tin Tức - Khuyến Mãi</span>
                    </div>
                    
                </div>
            </div>

            </div>
            <div class="row" style="padding-top:15px;">
                <div class="large-12 medium-12 small-12 columns">
                Copyright@2014 by Me&Be
            </div>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>