<div id="thanhtoan" class="reveal-modal" data-reveal>
    <div class="large-12 medium-12 small-12 columns">
        <p style="color:red;font-size:24px;text-align:center;"><b>THÔNG TIN VỀ QUY ĐỊNH BẢO HÀNH BẢO TRÌ CỦA CHÚNG TÔI</b></p>
    </div>
    <div class="large-12 medium-12 small-12 columns">
        <h4 style="color:blue;">A. CHẾ ĐỘ BẢO HÀNH</h4>
        <p>Tất cả các sản phẩm, linh kiện điện thoại của Công ty Aventelecom cung cấp sẽ được thực hiện theo chế độ bảo hành đãi ngộ theo các hình thức sau:</p>
        <p>- Các sản phẩm điện thoại được bán ra trong vòng 5 ngày nếu có lỗi từ phía nhà sản xuất sẽ được đổi ngay sản phẩm mới. Các sản phẩm được bảo hành miễn phí 12 tháng kể từ ngày mua hàng (Riêng sản phẩm ULTRA 8X và VPHONE 6S hưởng chế độ bảo hành đặc biệt 15 tháng). Trong đó:</p>
        <p>+ Pin sạc bảo hành 03 tháng</p>
        <p>+ Bảo hành 12 tháng cảm ứng và màn hình</p>
        <p>Một số trường hợp khách hàng cần lưu ý:</p>
        <p>- Các sản phẩm điện thoại của Aventelecom  bán ra đều được hưởng “Chế độ bảo hành” nhưng phải có đầy đủ điều kiện bảo hành của công ty (Xem kỹ tại mục Quy định bảo hành)Các phụ kiện đi kèm máy (sách, đĩa, vỏ hộp…) không được bảo hành nhưng Quý khách cần lưu ý khi được đổi sản phẩm phải giữ lại toàn bộ phụ kiện. Aventelecom  không chịu trách nhiệm về dữ liệu bộ nhớ hay các chương trình của quý khách bị mất do lỗi kỹ thuật phát sinh</p>
        <h4 style="color:blue;">B. QUY ĐỊNH BẢO HÀNH – BẢO TRÌ</h4>
        <h5 style="color:blue;">I. QUY ĐỊNH BẢO HÀNH</h5>
        <i>1.Nội dung bảo hành</i>
        <p>- Bảo hành sản phẩm là khắc phục những lỗi, sự cố kỹ thuật xảy ra do nhà sản xuất</p>
        <i>2. Quy định bảo hành</i>
        <p>- Sản phẩm được bảo hành miễn phí nếu sản phẩm còn trong thời hạn bảo hành kể từ ngày mua sản phẩm, sản phẩm được bảo hành theo thời gian ghi trên phiếu bảo hành và theo quy định của nhà sản xuất đối với tất cả sự cố về mặt kỹ thuậtCó phiếu bảo hành của công ty Aventelecom  ghi đầy đủ số IMEI</p>
        <i>3. Những trường hợp không được bảo hành</i>
        <p>- Sản phẩm đã hết thời gian bảo hành hay mất Phiếu bảo hành</p>
        <p>- Số mã vạch, số IMEI trên sản phẩm không xác định được hoặc không đúng so với Phiều bảo hành</p>
        <p>- Các sản phẩm khi mang đến bảo hành bị biến dạng cơ học, bị va đập, làm sứt, méo, vỡ, trầy xước
        mặt kính cảm ứng, cháy, hỏng do hoen gỉ, chảy nước, động vật xâm nhâp vào, thiên tai hỏa hoạn, sử dụng sai điện áp.</p>
        <p>- Hư hỏng do khách hàng gây nên hoặc sử dụng không đúng cách theo hương dẫn sử dụng .</p>
        <p>- Tự ý tháo dỡ, sửa chữa bởi những cá nhân hoặc kỹ thuật viên không phải nhân viên của Aventelecom</p>
        <p>- Các phần mềm kèm theo máy hoặc các lỗi hư hỏng về phần mềm</p>
        <p>- Các loại thiết bị tiêu hao trong quá trình sử dụng như pin, công tắc nguồn, tai nghe theo thiết bị, dây cáp, vỏ…</p>
        <p>- Khi bảo hành nếu phải thay thế thiết bị mới thì Quý khách hàng vui lòng chịu thêm chi phí bổ sung do nhà sản xuất quy định</p>
        <p>- Bảo hành không bao gồm vận chuyển và giao hàng</p>
        <p>- Đối với khách hàng từ xa, các sản phẩm khi gửi bảo hành phải đóng gói đúng quy cách, bên trong kèm phiếu bảo hành và ghi rõ địa chỉ người gửi, điện thoại liên hệ… và gửi đúng về địa chỉ Trung tâm bảo hành của Aventelecom. Chúng tôi không chịu trách nhiệm và bảo hành trong trường hợp sản phẩm bị thất lạc, rơi vỡ trên đường vận chuyển.</p>
        <p>- Máy bị ẩm ướt hoặc ảnh hưởng do các điều kiện môi trường nóng ẩm hoặc những thay đổi nhanh chóng trong những điều kiện đó, bị bào mòn, oxy hóa, bị thức ăn hoặc chất lỏng đổ vào hoặc bị ảnh hưởng bởicác sản phẩm hóa học.</p>
        
        <h5 style="color:blue;">II. CHẾ ĐỘ BẢO TRÌ</h5>
        <p>- Bao gồm cài đặt sửa chữa các lỗi phần mềm và các sự cố nhỏ (Không bao gồm thay thế các thiết bị)</p>
        <h5 style="color:blue;">III. CÁC LƯU Ý QUAN TRỌNG</h5>
        <p>- Sản phẩm của bạn là một thiết bị điện tử phức tạp ,có thể có màn hình độ chính xác cao ,ống kính máy ảnh và các bộ phận khác có thể bị hư hỏng ,trầy xước nếu không cẩn thận.Tất cả thông tin về bảo hành ,tính năng và đặc điểm của sản phẩm có thể thay đổi mà không cần thông báo trước.</p>
    </div>
    <div class="row" style="padding-top:15px;">
        <div class="row">
            <div class="large-3 medium-6 small-12 columns">
                <a href="#" data-reveal-id="thanhtoan" class="button expand">Thanh Toán</a>
            </div>
            <div class="large-3 medium-6 small-12 columns">
                <a href="#" data-reveal-id="giaohang" class="button expand">Vận Chuyển</a>
            </div>
            <div class="large-3 medium-6 small-12 columns">
                <a href="#" data-reveal-id="baohanh" class="button expand">Bảo Hành</a>
            </div>
            <div class="large-3 medium-6 small-12 columns">
                <a href="#" data-reveal-id="khieunai" class="button expand">Khiếu Nại</a>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
</div>