<div id="thanhtoan" class="reveal-modal" data-reveal>
    <div class="large-12 medium-12 small-12 columns">
        <p style="color:red;font-size:24px;text-align:center;"><b>THÔNG TIN VỀ QUY ĐỊNH BẢO HÀNH BẢO TRÌ CỦA CHÚNG TÔI</b></p>
    </div>
    <div class="large-12 medium-12 small-12 columns">
    </div>
    <div class="row" style="padding-top:15px;">
        <div class="row">
            <div class="large-3 medium-6 small-12 columns">
                <a href="#" data-reveal-id="thanhtoan" class="button expand">Thanh Toán</a>
            </div>
            <div class="large-3 medium-6 small-12 columns">
                <a href="#" data-reveal-id="giaohang" class="button expand">Vận Chuyển</a>
            </div>
            <div class="large-3 medium-6 small-12 columns">
                <a href="#" data-reveal-id="baohanh" class="button expand">Bảo Hành</a>
            </div>
            <div class="large-3 medium-6 small-12 columns">
                <a href="#" data-reveal-id="khieunai" class="button expand">Khiếu Nại</a>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
</div>