{% extends "layout.html" %}
{% block title %}
	<title>X-FONE X-4 Mobile</title>
{% endblock %}
{% block hi %}
	<div class="row">
		<img alt="" src="./static/img/4x/1.jpg">
		<img alt="" src="./static/img/4x/2.jpg">
		<img alt="" src="./static/img/4x/3.jpg">
		<img alt="" src="./static/img/4x/4.jpg">
		<img alt="" src="./static/img/4x/5.jpg">
		<img alt="" src="./static/img/4x/6.jpg">
		<img alt="" src="./static/img/4x/7.jpg">
		<img alt="" src="./static/img/4x/8.jpg">
		<img alt="" src="./static/img/4x/9.jpg">
		<img alt="" src="./static/img/4x/11.jpg">
		<img alt="" src="./static/img/4x/12.jpg">
		<img alt="" src="./static/img/4x/13.jpg">
		<img alt="" src="./static/img/4x/14.jpg">
		<img alt="" src="./static/img/4x/15.jpg">
	</div>
{% endblock %}