{% extends "layout.html" %}
{% block title %}
	<title>X-FONE X-8 Mobile</title>
{% endblock %}
{% block hi %}
	<div class="row text-center" style="background:white;"> 
	<img alt="" src="./static/img/8x/1.jpg">
	<img alt="" src="./static/img/8x/2.jpg">
	<img alt="" src="./static/img/8x/3.jpg">
	<img alt="" src="./static/img/8x/4.jpg">
	<img alt="" src="./static/img/8x/5.jpg">
	<img alt="" src="./static/img/8x/6.jpg">
	<img alt="" src="./static/img/8x/7.jpg">
	<img alt="" src="./static/img/8x/9.jpg">
	<img alt="" src="./static/img/8x/10.jpg">
	<img alt="" src="./static/img/8x/12.jpg">
	<img alt="" src="./static/img/8x/13.jpg">
	<img alt="" src="./static/img/8x/14.jpg">
	<img alt="" src="./static/img/8x/15.jpg">
	<img alt="" src="./static/img/8x/16.jpg">
	</div>
{% endblock %}