{% extends "sites/common/layout.html" %}
{% block title %}
	<title>X-FONE X-4 Mobile</title>
{% endblock %}
{% block content %}
	<div class="row clear"></div>
	<div class="row text-center" style="background:white;">
		<span><h2>X-4 Điện Thoại Thế Hệ Mới</h2></span>
	</div>
	<div class="row text-center" style="background:white;"> 
		<img alt="" src="./static/img/4x/1.jpg">
		<img alt="" src="./static/img/4x/2.jpg">
		<img alt="" src="./static/img/4x/3.jpg">
		<img alt="" src="./static/img/4x/4.jpg">
		<img alt="" src="./static/img/4x/5.jpg">
		<img alt="" src="./static/img/4x/6.jpg">
		<img alt="" src="./static/img/4x/7.jpg">
		<img alt="" src="./static/img/4x/8.jpg">
		<img alt="" src="./static/img/4x/9.jpg">
		<img alt="" src="./static/img/4x/11.jpg">
		<img alt="" src="./static/img/4x/12.jpg">
		<img alt="" src="./static/img/4x/13.jpg">
		<img alt="" src="./static/img/4x/14.jpg">
		<img alt="" src="./static/img/4x/15.jpg">
	</div>
{% endblock %}