{% extends "sites/common/layout.html" %}
{% block title %}
	<title>X-FONE X-6 Mobile</title>
{% endblock %}
{% block content %}
<div class="row clear"></div>
	<div class="row text-center" style="background:white;"> 
	<img alt="" src="./static/img/x6/1.jpg">
	<img alt="" src="./static/img/x6/2.jpg">
	<img alt="" src="./static/img/x6/3.jpg">
	<img alt="" src="./static/img/x6/4.jpg">
	<img alt="" src="./static/img/x6/5.jpg">
	<img alt="" src="./static/img/x6/6.jpg">
	<img alt="" src="./static/img/x6/7.jpg">
	<img alt="" src="./static/img/x6/8.jpg">
	<img alt="" src="./static/img/x6/9.jpg">
	<img alt="" src="./static/img/x6/10.jpg">
	<img alt="" src="./static/img/x6/11.jpg">
	<img alt="" src="./static/img/x6/12.jpg">
	<img alt="" src="./static/img/x6/13.jpg">
	<img alt="" src="./static/img/x6/14.jpg">
	<img alt="" src="./static/img/x6/15.jpg">
	<img alt="" src="./static/img/x6/16.jpg">
	<img alt="" src="./static/img/x6/17.jpg">
	<img alt="" src="./static/img/x6/18.jpg">
	<img alt="" src="./static/img/x6/19.jpg">
	<img alt="" src="./static/img/x6/20.jpg">
	<img alt="" src="./static/img/x6/21.jpg">
	<img alt="" src="./static/img/x6/22.jpg">
	<img alt="" src="./static/img/x6/23.jpg">
	<img alt="" src="./static/img/x6/24.jpg">
	<img alt="" src="./static/img/x6/25.jpg">
	<img alt="" src="./static/img/x6/26.jpg">
	<img alt="" src="./static/img/x6/27.jpg">
	<img alt="" src="./static/img/x6/28.jpg">
	<img alt="" src="./static/img/x6/29.jpg">
	<img alt="" src="./static/img/x6/30.jpg">
	<img alt="" src="./static/img/x6/31.jpg">
	<img alt="" src="./static/img/x6/32.jpg">
	<img alt="" src="./static/img/x6/33.jpg">
	<img alt="" src="./static/img/x6/34.jpg">
	<img alt="" src="./static/img/x6/35.jpg">
	<img alt="" src="./static/img/x6/36.jpg">
	<img alt="" src="./static/img/x6/37.jpg">
	<img alt="" src="./static/img/x6/38.jpg">
	<img alt="" src="./static/img/x6/39.jpg">
	<img alt="" src="./static/img/x6/40.jpg">
	</div>
{% endblock %}