{% extends "admin/question_category/layout.html" %}
{% block content %}
<div class="row">
    <div class="small-12 columns">
        <table>
        <h2 class="text-center subheader">question_category detail</h2>
         
          <tr>
            <th>Properties</th>
            <th>Description</th>
        </tr>

        <tr>
            <td>Id</td>
            <td>{{question_category.id}}</td>
        </tr>
        <tr>
            <td >Name</td>
            <td>{{question_category.name}}</td>
        </tr>
        <tr>
            <td >Image</td>
            <td>
            {%if question_category.image_original_url | length > 0%}
                <a class="th" role="button" aria-label="Thumbnail" href="{{question_category.image_original_url}}">
                  <img aria-hidden=true src="{{question_category.image_url}}"/>
                </a>
            {%endif%}
            </td>
        </tr>
        <tr style="border-top:solid 1px #ddd;">
            <td ><a href="{{ url_for('admin.question_category.edit', question_category_id=question_category.id) }}" class="button tiny success right"><i class="fa fa-edit"></i> Edit</a></td>
            <td><a href="javascript:post('{{ url_for('admin.question_category.delete', question_category_id=question_category.id) }}',null,'{{url_for('admin.question_category.index')}}')" class="button tiny alert left"><i class="fa fa-trash"></i> Delete</a></td>
        </tr>
    </table>
</div>
</div>
{% endblock %}
