<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}<title></title>{% endblock title %}
    <link rel="stylesheet" href="/static/vendor/foundation/css/foundation.css" />
    <link rel="stylesheet" href="/static/vendor/foundation/css/normalize.css" />
	<link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/app-admin.css" />
    <script src="/static/vendor/foundation/js/vendor/modernizr.js"></script>	
    {% endblock head %}
</head>
<body>
    <div class="full-width" data-equalizer>
        <aside id="left-panel" data-equalizer-watch>
            <a id="logo">Workshop</a>
            <ul class="side-nav">
				{% block top_menu %}
					{% from "admin/common/menu.html" import top_menu %}
					{{ top_menu('dashboard') }}
				{% endblock %}
            </ul>
        </aside>
        <div id="main" data-equalizer-watch>
            {% block content %}
                        Just a default content
            {% endblock %} 
        </div>
    </div>
    <script src="/static/vendor/foundation/js/vendor/jquery.js"></script>
    <script src="/static/vendor/foundation/js/foundation.min.js"></script>
    
    <script src="/static/js/helpers.js"></script>
    <script src="/static/js/upload.js"></script>
    
    {% block chat_script %}
    {% endblock %}
</body>
</html>
