{% extends "admin/news/layout.html" %}
{% block content %}
<div class="row">
    <div class="small-12 columns">
        <table>
        <h2 class="text-center subheader">News detail</h2>
         
          <tr>
            <th>Properties</th>
            <th>Description</th>
        </tr>

        <tr>
            <td>Author</td>
            <td>{{news.author.username}}</td>
        </tr>
        <tr>
            <td >Title</td>
            <td>{{news.title}}</td>
        </tr>
        <tr>
            <td >Brief</td>
            <td>{{news.brief}}</td>
        </tr>
         <tr>
            <td >Category</td>
            <td>{{news.news_category.name}}</td>
        </tr>
        <tr>
            <td >Video embed code</td>
            <td>{{news.video}}</td>
        </tr>
        <tr>
            <td >Show in index page</td>
            <td>{{news.show_in_index}}</td>
        </tr>
        <tr>
            <td >Image</td>
            <td>
            {%if news.image_original_url | length > 0%}
                <a class="th" role="button" aria-label="Thumbnail" href="{{news.image_original_url}}">
                  <img aria-hidden=true src="{{news.image_url}}"/>
                </a>
            {%endif%}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="border:1px solid green;background-color:#fff;padding:10px;">
                    {{news.content|safe}}
                </div>
            </td>
            
        </tr>
        <tr style="border-top:solid 1px #ddd;">
            <td colspan="2">
                <ul class="button-group" style="display:table;margin:0 auto;">
                <li> <a href="{{ url_for('admin.news.add') }}" class="button tiny success" style="margin-bottom:0px;"><i class="fa fa-plus"></i> Add </a></li>
                  <li><a href="{{ url_for('admin.news.edit', news_id=news.id) }}" class="button tiny" style="margin-bottom:0px;"><i class="fa fa-edit"></i> Edit</a></li>
                  <li><a href="javascript:post('{{ url_for('admin.news.delete', news_id=news.id) }}',null,'{{url_for('admin.news.index')}}')" class="button tiny alert" style="margin-bottom:0px;"><i class="fa fa-trash"></i> Delete</a></li>
              </ul>
          </td>
        </tr>
    </table>
</div>
</div>
{% endblock %}
