#header .main-mobile{
	display: table;
	margin: 0 auto;
	padding: 0px;
}
.exit-off-canvas{
	box-shadow: none;
}
.tab-bar{
	background-color: #333333;
	height: 50px;
}
.left-small{
	border-right: 1px solid #FEE6EF;
}
.right-small{
	border-left: 1px solid #FEE6EF;
}
.left-small, .right-small{
	height: 50px;
}
.tab-bar .menu-icon{
	width: 50px;
	height: 50px;
}
.left-off-canvas-menu,.right-off-canvas-menu{
	background-color: #333333;

}
.move-right .exit-off-canvas,.move-left .exit-off-canvas{
	box-shadow: none;
}
ul.off-canvas-list li label{
	height: 50px;
	font-size: 14px;
	padding: 0px;
	line-height: 50px;
	text-align: center;
	background-color: #333333;
	color: #fff;
	border-top: 0px;
}
.opa {
	opacity: 0.7;
}
ul.off-canvas-list li a{
	color: white;
	border-bottom: 1px solid #FEE6EF;
	opacity: 1;
}
ul.off-canvas-list li a:hover {
	background: #0078a0;
}
.left-submenu, .right-submenu{
	background-color: #333333;
}
.left-submenu .back > a:before,.right-submenu .back > a:after {
	content:"";
}
.left-submenu .back,.right-submenu .back{
	height: 50px;
	line-height: 50px;
}
.left-submenu .back a,.right-submenu .back a{
	padding: 0px;
	padding-left: 10px;
	background-color: #333333;
	border-top: 0px;
	color: #fff;
}
.left-submenu .back a:hover,.right-submenu .back a:hover{
	background-color: #F993BC;
	border-top: 0px;
}
.left-off-canvas-menu ul.off-canvas-list li.has-submenu > a:after,
.right-off-canvas-menu ul.off-canvas-list li.has-submenu > a:before{
	content:"";
}
