{% macro form(url, data='', show_form=1) -%}
<form action="{{ url }}" method="post">
	<fieldset>
		
		<legend>{% if show_form == 1 %}Create a static_page:{%else%}Update a static_page:{% endif %}</legend>        
        <div class="row collapse">
            <div class="medium-2 columns">
                <span class="prefix">Name*:</span>   
            </div>
            <div class="medium-10 columns" >
                <input type="text" placeholder="Enter static page name here" name="name" value="{{ data.name }}" required/>
            </div>
        </div>

		<div class="row collapse">
            <div class="medium-2 columns">
                <span class="prefix">Content*: </span>   
            </div>
            <div class="medium-10 columns">
            <textarea rows="30" placeholder="Enter your content here" name="content" value="{{ data.content }}" required id="content">{{ data.content | safe }}</textarea>
            </div>
        </div>

		<div class="row collapse">
			<div class="medium-12 columns">
				<input type="submit" value="{% if show_form==1:%} Create {%else %} Update {%endif%}" class="button tiny success" style="display:table;margin:0 auto; margin-top:15px;">
			</div>
		</div>
	</fieldset>
</form>
<script src="/static/vendor/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    var config = {};
    config.uiColor = '#AADC6E';
    CKEDITOR.replace( 'content' ,config);
</script>
{% endmacro -%}
